:root {
    /* Primary Colors */
    --color-primary: #f97316;
    --color-primary-light: #f4a946;
    /* Orange */
    --color-primary-hover: #ea580c;
    /* Dark Orange */

    /* Backgrounds */
    --color-bg: #f3f4f6;
    /* Light Grey */
    --color-surface: #ffffff;
    /* White Cards */
    

    /* Text */
    --color-text: #1f2937;
    /* Dark Grey */
    --color-text-light: #6b7280;
    /* Medium Grey */

    /* Borders */
    --color-border: #d1d5db;
    /* Light Grey Border */

    /* Status Colors */
    --color-success: #22c55e;
    --color-warning: #f59e0b;
    --color-danger: #ef4444;

    /* Radius */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;

    /* Shadow */
    --shadow-sm: 0 4px 12px rgba(0, 0, 0, 0.08);

    /* Layout */
    --container-width: 1200px;

    /* Font */
    --font-family: "Segoe UI", sans-serif;

    /* header */
     --header-height: 70px;
}